@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: 'Source Sans 3', sans-serif;
    @apply bg-slate-50 text-slate-900 m-0;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Lexend', sans-serif;
  }
  #root {
    width: 100%;
    max-width: 100%;
    margin: 0;
    text-align: left;
    border: none;
  }
}

@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}
